@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}
html.dark {
  color-scheme: dark;
}
html.light {
  color-scheme: light;
}

html, body, #__next {
  height: 100%;
}

@layer utilities {
  .fade-in {
    animation: fadeIn 0.3s ease-out forwards;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
